.jumbotron {text-align: center; background-color: rgb(136, 136, 226);}

.body {background-color: rgb(15, 127, 155);}

.title {font-weight: bold; font-size: 100px; display: block; font-family: Tahoma, Verdana, sans-serif;}

.directions {font-size: 30px;}

.StartButton {text-align: center; font-size: 25px; font-display: black}

#box.size {
    width: 50%;
    height: 50%;
}

#box.size2 {
    width: 33.3%;
    height: 33.3%;
}

#box.size3 {
    width: 25%;
    height: 25%;
}

#box.size4 {
    width: 20%;
    height: 20%; 
}
#box.size5 {
    width: 16.67%;
    height: 16.67%;
}

#box.size6 {
    width: 14.2%;
    height: 14.2%;
}

#box.size7 {
    width: 12.5%;
    height: 12.5%;
}

#box.size8 {
    width: 11.1%;
    height: 11.1%;
}