.jumbotron {text-align: center;}

#mainTitle {font-size: 100px; font-weight: bold;}

#mainDirections {font-size: 35px;}

.carouselContent {text-align: center;  font-size: 20;}

.labelText {color: rgb(136, 136, 226);}