.jumbotron {text-align: center; background-color: rgb(136, 136, 226);}

#mainTitle {font-size: 100px; font-weight: bold; font-family: "Times New Roman", Times, serif}

#mainDirections {font-size: 35px; font-family: "Times New Roman", Times, serif}

.carouselContent {text-align: center;  font-size: 20;}

.labelText {color: rgb(0, 0, 0);}

#slideBox {height:700px; width:700px; margin:auto}

.slideImg {height:700px; width:700px}